<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [133]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [99]:
# your code goes here
duplicates = df[df.duplicated()]
len(duplicates)

154


## Removing duplicates

Remove the duplicate rows from the dataframe.

In [134]:
# your code goes here
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [135]:
# your code goes here
df[df.duplicated()]

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

## Finding Missing values

Find the missing values for all columns.

In [102]:
# your code goes here
df.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [104]:
# your code goes here
df[["WorkLoc"]].isna().sum()
df[["Country"]].isna().sum()

Country    0
dtype: int64

# Imputing missing values

Find the  value counts for the column WorkLoc.

In [108]:
# your code goes here
df[["WorkLoc"]].value_counts()
df[["UndergradMajor"]].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [109]:
#make a note of the majority value here, for future reference
mode = df[["Employment"]].mode()
mode = df[["WorkLoc"]].mode()
mode

  WorkLoc
0  Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [110]:
df[["ConvertedComp"]]

       ConvertedComp
0            61000.0
1            95179.0
2            90000.0
3           455352.0
4            65277.0
...              ...
11547       130000.0
11548        19880.0
11549       105000.0
11550        80371.0
11551            NaN

[11398 rows x 1 columns]

In [46]:
# your code goes here
df["WorkLoc"].fillna("Office", inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [115]:
# your code goes here
df[["WorkLoc"]].isna().sum()

CompFreq    206
dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [65]:
# your code goes here
df["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [136]:
# your code goes here
num = df.shape[0]

#df["CompFreq"].fillna(df["CompFreq"].mode(), inplace = True )
#df["CompTotal"].fillna(df["CompTotal"].mean(), inplace = True )
for i in range(0, num):
    if df.loc[i,"CompFreq"] == 'Yearly':
        df.loc[i, "NormalizedAnnualCompensation"] = df.loc[i, "CompTotal"] 
        print(df.loc[i, "NormalizedAnnualCompensation"])
    elif df.loc[i,"CompFreq"] == 'Monthly':
        df.loc[i, "NormalizedAnnualCompensation"] = df.loc[i, "CompTotal"] *12
        print(df.loc[i, "NormalizedAnnualCompensation"])
    else:
        df.loc[i, "NormalizedAnnualCompensation"] = df.loc[i, "CompTotal"] *52
        print(df.loc[i, "NormalizedAnnualCompensation"])

61000.0
138000.0
90000.0
348000.0
90000.0
114000.0
36000.0
103000.0
69000.0
96000.0
84000.0
114000.0
104000.0
1144000.0
1152000.0
156000.0
18000.0
76800.0
60000.0
400000.0
47300.0
618000.0
345000.0
85000.0
107000.0
66000.0
76800.0
50000.0
800000.0
75000.0
216000.0
100000.0
1250000.0
30000.0
550000.0
nan
8400000.0
480000.0
108000.0
132000.0
1200000.0
50000.0
33000.0
110000.0
66750.0
300000.0
3525600.0
155000.0
300000.0
100000.0
nan
70000.0
360000.0
90000.0
26000.0
31000.0
nan
288000.0
650000.0
60000.0
1272000.0
62000.0
48000.0
2107200.0
70000.0
540000.0
48000.0
642000.0
135000.0
48000.0
840000.0
960000.0
41232.0
50000.0
384000000.0
48000.0
7124000.0
68000.0
144000.0
nan
50000.0
70000.0
84000.0
13000000.0
35000.0
50000.0
480000.0
90000.0
90000.0
108000.0
48000.0
39000.0
44400.0
95000.0
450000.0
112800.0
117800.0
17400.0
180000.0
100000.0
48000.0
110000.0
nan
420000.0
233000.0
nan
80000.0
120000.0
496800.0
2000000.0
86000.0
5880000.0
88000.0
50400.0
240000.0
45000.0
52000.0
180000.0
600000.0
180000.0
864000.0
3200000.0
nan
2196000.0
130000.0
288000.0
1560000.0
55000.0
0.0
nan
360000.0
540000.0
130000.0
115000.0
0.0
nan
63000.0
66000.0
nan
123000.0
140000.0
43200.0
360000.0
160000.0
84000.0
109200.0
nan
140000.0
105000.0
30000.0
19000.0
360000.0
48000.0
5280000.0
57000.0
3000000.0
312000.0
468000.0
55000.0
744000.0
41016.0
170000.0
48000.0
125000.0
151200.0
1884000.0
55000.0
100000.0
nan
36000.0
6750000.0
104000.0
23800.0
30000.0
140000.0
113000.0
1200000.0
165000.0
135000.0
67992.0
84000.0
30000.0
7200000.0
118000.0
110000.0
750000.0
46600.0
10800.0
154000.0
92000.0
104592.0
125000.0
768000.0
40000.0
75000.0
96000.0
nan
70000.0
34000.0
125000.0
312000.0
125000.0
80000.0
4420000.0
46000.0
26880.0
32400.0
540000000.0
51600.0
80000.0
3900000.0
118260.0
50000.0
85000.0
690000.0
1920000.0
124800.0
28000.0
300000.0
420000.0
37000.0
118000.0
140400.0
312000.0
124800.0
60000.0
97000.0
240000.0
193196.0
121000.0
58000.0
850000.0
1344000.0
54600.0
42000000.0
31200.0
110000.0
7280000.0
520000.0
110000.0
42120.0
53500.0
90000.0
720000.0
42000.0
15600.0
105000.0
nan
61000.0
180000.0
50000.0
74880.0
104000.0
65000.0
nan
56000.0
204000.0
100000.0
15600.0
nan
600000.0
60000.0
190000.0
70000.0
1820000.0
60000.0
nan
42600.0
1600000.0
420000.0
18000.0
135000.0
72500.0
11400.0
20000.0
36000.0
80000.0
600000000.0
600000.0
18000.0
125000.0
13200.0
nan
110000.0
32000.0
nan
nan
82000.0
147000.0
24000.0
1075000.0
40000.0
70000.0
720000.0
200000.0
1164000.0
25000.0
65000.0
26500.0
678000.0
90000.0
nan
90000.0
nan
39600.0
97000.0
360000.0
125000.0
360000.0
128000.0
36000.0
750000.0
600000.0
43680.0
156000.0
87000.0
55000.0
47000.0
77000.0
78000.0
120000.0
275000.0
103000.0
122473.0
33600.0
68000.0
48000.0
21000.0
98400.0
160000.0
187200.0
720000.0
125000.0
121000.0
230000.0
10400.0
80000.0
nan
43000.0
45760.0
540000.0
44000.0
21000.0
90000.0
30000000.0
37200.0
120000.0
230000.0
232000.0
nan
104000.0
540000.0
nan
185000.0
14196000.0
155000.0
45000.0
67800.0
3536000.0
123500.0
14400.0
nan
48000.0
165000.0
45000.0
396000.0
nan
558000.0
66000.0
4680000.0
2160000.0
82000.0
nan
62000.0
360000.0
132000.0
2400000.0
80000.0
nan
72000.0
36000.0
nan
94000.0
95000.0
12000000.0
1100000.0
180000.0
84000.0
69800.0
86000.0
432000.0
1200000.0
90000.0
80000.0
81000.0
1200000.0
140000.0
35000.0
66000.0
55000.0
95000.0
360000.0
31200.0
18000.0
nan
1620000.0
84000.0
130000.0
720000.0
125000.0
600000.0
49000.0
624000.0
1000000.0
720000.0
nan
90000.0
31200.0
960000.0
70000.0
2400000.0
31000.0
1800000.0
50400.0
70000.0
480000.0
480000.0
275000.0
129000.0
72000.0
24000.0
238000.0
408000.0
15000.0
120000.0
10000.0
14400.0
1800000.0
80000.0
49800.0
40800.0
155000.0
492000.0
33280.0
3960.0
103000.0
60000.0
nan
48000.0
nan
50400.0
94600.0
98000.0
90000.0
95000.0
46000.0
320000.0
5616000.0
105000.0
nan
180000.0
130000.0
960000.0
43000.0
50000.0
40000.0
48000.0
1152000.0
278304.0
38000.0
nan
720000.0
81810.0
nan
30000.0
35000.0
19200000.0
636000.0
165000.0
15000.0
63700.0
230000.0
114000.0
nan
115000.0
110000.0
2500000.0
149500.0
6000000.0
40000.0
nan
130000.0
70000.0
960000.0
nan
72000.0
780000000.0
72000000.0
107000.0
30000.0
60000.0
360000.0
57600.0
240000.0
116400.0
5980000.0
144000.0
58700.0
155000.0
5000.0
36000.0
732000.0
1000000.0
260000.0
67200.0
24000.0
50000.0
35000.0
74000.0
130000.0
16800000.0
55000.0
19200.0
60000.0
180000.0
60000.0
720000.0
38400.0
1250000.0
3600000.0
38000.0
56544.0
95000.0
3600000.0
21000.0
50000.0
1282500.0
72000.0
nan
120000.0
180000000.0
210000.0
190000.0
125000.0
390000000.0
120000.0
960000000.0
34800.0
38220.0
130000.0
nan
1260000.0
115000.0
60000.0
128000.0
94000.0
1600000.0
120000.0
nan
12000.0
63000.0
500000.0
54000.0
101000.0
127741.0
600000.0
110000.0
38000.0
50400000.0
98000.0
408000.0
nan
108000.0
nan
nan
179000.0
135000.0
123000.0
177000.0
49000.0
30000.0
22200.0
41600000.0
42000.0
1735000.0
15600.0
32500.0
60000.0
90000.0
100000.0
67000.0
105000.0
nan
74000.0
105000.0
28896.0
55000.0
75000.0
nan
75000.0
19200.0
900000.0
540000.0
156000.0
105000.0
40000.0
27000.0
nan
150000.0
80000.0
200000.0
32000.0
192000.0
90000.0
155000.0
1368000.0
60000.0
1920000.0
10800000.0
60000.0
36000.0
200000.0
900000.0
1350000.0
31200.0
56000.0
95000.0
75000.0
14400.0
520000.0
67200.0
564000.0
40000.0
22800.0
nan
101000.0
104000.0
nan
65000.0
360000.0
nan
70000.0
560000.0
90000.0
nan
105000.0
76000.0
588000.0
13200.0
112000.0
160000.0
45000.0
62500.0
150000.0
54000.0
2860000.0
3432000.0
nan
12000000.0
600000.0
864000.0
240000.0
1224000.0
nan
120000.0
8820.0
73000.0
55000.0
5400.0
720000000.0
110000.0
50000.0
95000.0
480000.0
240000.0
2160000.0
18000.0
6000000.0
85000.0
92000.0
1700000.0
200000.0
5096000.0
4000000.0
48000.0
720000.0
960000.0
nan
48000.0
120000.0
95000.0
104000.0
30000.0
48000.0
15600.0
96000.0
120000.0
nan
120000.0
14000.0
36000000.0
nan
156000.0
92000.0
nan
660000.0
4.0
18000.0
nan
20400.0
nan
95000.0
37752.0
840000000.0
145000.0
2200000.0
63000.0
28800.0
35000.0
768000.0
75000.0
106000.0
60000.0
83000.0
1140000.0
32000.0
40000.0
72000.0
282000.0
480000.0
600000.0
1080000.0
32000.0
420000.0
37000.0
49200.0
41000.0
456000.0
nan
27000.0
2860000.0
146000.0
140000.0
300000.0
225000.0
32000.0
92000.0
400000.0
nan
520000.0
1400000.0
1080000.0
68000.0
35006.0
600000.0
78000.0
55000.0
220000.0
150000.0
66000.0
100000.0
120000.0
nan
90000.0
28000.0
nan
nan
nan
156000.0
300000.0
120000.0
15600.0
4200000.0
64000.0
840000.0
107500.0
12000.0
42000.0
41160.0
82800.0
67000.0
150000.0
92000.0
194400.0
1200000.0
2700000.0
10000.0
90000.0
600000.0
16800.0
82000.0
63000.0
42000.0
30000.0
17112.0
115000.0
88500.0
180000.0
2196000.0
51652.0
28000.0
720000.0
66000.0
nan
125000.0
125000.0
1560000.0
48000.0
875000.0
1500000.0
89000.0
140000.0
33000000.0
60000.0
66000.0
19200.0
46700.0
6760000.0
12500.0
26400.0
9600.0
230000000.0
28550.0
36400.0
120000.0
47300.0
150000.0
1800000.0
3000000.0
24000.0
40000.0
3000.0
192000.0
60000.0
85000.0
60000.0
19200.0
720000000.0
600000.0
nan
22417.0
171600.0
45600.0
24000.0
9240000.0
nan
111350.0
82000.0
300000.0
450000.0
504000.0
783000.0
78000.0
360000.0
2064000.0
64200.0
60000.0
85000.0
55000.0
651192.0
nan
324000.0
155000.0
100000.0
nan
55200.0
69000.0
1584000.0
42192.0
408000.0
65000.0
83000.0
140000.0
6500000.0
960000.0
300000.0
336000.0
22980.0
88000.0
61000.0
180000.0
1800000.0
149000.0
162929.0
18000.0
100000.0
481200.0
105000.0
480000.0
540000.0
33600.0
90000.0
50000.0
155000.0
216000.0
115000.0
22000.0
50000.0
43200.0
200000.0
100000.0
200000.0
532800.0
81000.0
16800.0
85000.0
560000.0
200000.0
4160000.0
1330000.0
70000.0
60000.0
160000.0
nan
1200000.0
202500.0
75000.0
360000.0
60000.0
135000.0
28800.0
135000.0
48000.0
28800.0
75000.0
78000.0
85000.0
16800000.0
4920000.0
130000.0
63000.0
96000.0
nan
46000.0
720000.0
825000.0
165000.0
160000.0
408000.0
75000.0
106000.0
100000.0
105000.0
222000.0
100000.0
450000.0
95000.0
21600.0
65000.0
20400.0
135000.0
160000.0
72000.0
82680000.0
89000.0
50000.0
125000.0
72000.0
36000.0
91500.0
85000.0
105000.0
155000.0
12540.0
nan
60000.0
24000.0
60000.0
25000.0
6000000.0
276000.0
60000.0
33000.0
9600.0
55000.0
39000.0
80000.0
2400000.0
100000.0
45000.0
71000.0
660000.0
0.0
124800.0
93000.0
12000.0
nan
93000.0
6760000.0
3744000.0
37700.0
188400.0
70000.0
192000.0
120000.0
107000.0
87000.0
96000.0
102000.0
50400.0
15600000.0
90000.0
1300000.0
nan
46000.0
26640.0
39900.0
1428000.0
105000.0
32400.0
80000.0
3380000.0
34800.0
60000.0
40000.0
85000.0
120000.0
342000.0
74976.0
270000.0
150000.0
50400.0
45000.0
24000.0
126000.0
360000.0
43800.0
96000.0
75500.0
14400.0
120000.0
140000.0
216000.0
90000.0
120000.0
nan
115000.0
10400000.0
54000.0
120000.0
9600.0
150000.0
32000.0
33600.0
25000.0
30000.0
15000000.0
70000.0
13200.0
160000.0
72600.0
42000.0
60000.0
55000.0
832000.0
nan
71000.0
300000.0
1008000.0
75000.0
97500.0
480000.0
110000.0
38000.0
50000.0
130000.0
103000.0
180000.0
694800.0
58000.0
1560000.0
110000.0
324000.0
504000.0
9600.0
121000.0
130000.0
nan
1200000.0
89999.0
1700000.0
60000.0
732000.0
70000.0
11544000.0
60000.0
36000.0
21600.0
48300.0
nan
70000.0
88000.0
12000.0
1000000.0
49920.0
720000.0
nan
60000.0
65000.0
692000.0
204000.0
19200.0
58000.0
71000.0
2400000.0
80000.0
nan
100000.0
45000.0
65000.0
3640000.0
35000.0
75000.0
400000.0
696000.0
nan
110000.0
70000.0
152000.0
360000.0
93500.0
1920000.0
16800.0
600000.0
134000.0
56000.0
70650.0
20700.0
83200.0
113394600.0
134000.0
26400.0
37440.0
16800.0
24000.0
651000.0
420000.0
480000.0
55200.0
420000.0
63000.0
150000.0
81000.0
220000.0
nan
120000.0
400000.0
35000.0
45000.0
41400.0
450000.0
9600.0
44372.0
1400000.0
100000.0
41000.0
70000.0
95000.0
900000.0
1200000.0
63000.0
42000.0
95000.0
21000.0
648000.0
200000.0
13800.0
70000.0

KeyError: 1168

## Authors

In [137]:
df["NormalizedAnnualCompensation"].median()
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age,NormalizedAnnualCompensation
count,11398.000000,1.058900e+04,1.058200e+04,11276.000000,8972.000000,11111.000000,1.083000e+03
mean,12490.392437,7.570477e+05,1.315967e+05,42.064606,4.781071,30.778895,6.884911e+06
std,7235.461999,9.705598e+06,2.947865e+05,24.672741,4.567060,7.393686,6.300699e+07
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000,0.000000e+00
25%,6264.250000,2.500000e+04,2.686800e+04,40.000000,2.000000,25.000000,5.375000e+04
50%,12484.000000,6.500000e+04,5.774500e+04,40.000000,4.000000,29.000000,1.000000e+05
75%,18784.750000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000,3.435000e+05
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000,9.600000e+08

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).